@import "tailwindcss";

@font-face {
    font-family: 'Ghibli';
    src: url('/ghibli_font/Eyad Al-Samman - Ghibli.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ghibli';
    src: url('/ghibli_font/Eyad Al-Samman - Ghibli-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  /* Set a default font globally (optional) */
  body {
    font-family: 'Ghibli', sans-serif;
  }