@import "tailwindcss";

@font-face {
    font-family: 'Ghibli';
    src: url('/ghibli_font/Eyad Al-Samman - Ghibli.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ghibli';
    src: url('/ghibli_font/Eyad Al-Samman - Ghibli-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'GamePaused';
    src: url('/fonts/GamepauseddemoRegular-RpmY6.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SuperGame';
    src: url('/fonts/Supergame-L3vxW.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply globally */
  :root {
    --font-primary: 'GamePaused', sans-serif;
    --font-secondary: 'SuperGame', sans-serif;
  }
  
  body {
    font-family: var(--font-primary);
  }
  .clip-corner {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    clip-path: polygon(
      20px 0%,
      100% 0%,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0% 100%,
      0% 20px
    );
    z-index: 1;
  }
  
  /* Glowing border as background with visible edge */
  .clip-corner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(#06b6d4, #06b6d4);
    z-index: -1;
    padding: 2px;
    border-radius: 0; /* optional */
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }