@import "tailwindcss";

@font-face {
    font-family: 'Ghibli';
    src: url('/ghibli_font/Eyad Al-Samman - Ghibli.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ghibli';
    src: url('/ghibli_font/Eyad Al-Samman - Ghibli-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'GamePaused';
    src: url('/fonts/GamepauseddemoRegular-RpmY6.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SuperGame';
    src: url('/fonts/Supergame-L3vxW.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply globally */
  :root {
    --font-primary: 'GamePaused', sans-serif;
    --font-secondary: 'SuperGame', sans-serif;
  }
  
  body {
    font-family: var(--font-primary);
  }